.dashboard-table-container {
    width: 70%;
    margin: auto;
    margin-top: 2%;
}

.dashboard-buttons-container {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.add-account-button {
    float: left;
}

.transit-button {
    float: right;
}